<!doctype html>
<html>
<head>
</head>
<body>
    <form action="/madlib">
        <label for="select-person">Choose a person</label>

        <select name="person" id="select-person">
            <option value="bob">Bob</option>
            <option value="jane">Jane</option>
            <option value="cake">Cake</option>
        </select>

        <br>
        <br>
        <label for="select-color">Choose a color</label>

        <select name="color" id="select-color">
            <option value="green">Green</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
        </select>

        <br>
        <br>
        <label for="select-noun">Choose a noun</label>

        <select name="noun" id="select-noun">
            <option value="box">Box</option>
            <option value="sun">Sun</option>
            <option value="sea">Sea</option>
        </select>

        <br>
        <br>
        <label for="select-adjective">Choose a adjective</label>

        <select name="adjective" id="select-adjective">
            <option value="fancy">Fancy</option>
            <option value="amazing">Amazing</option>
            <option value="adorable">Adorable</option>
        </select>
        <br>
        <input type="submit">
    </form>
</body>
</html>