<!doctype html>
<html>
<head>
    <style>
        html {
            background-image: url(https://img5.goodfon.com/original/1920x1080/5/80/linii-figury-tochki-treugolnik-abstraktsiia.jpg);
        }

        body {
            font-family: sans-serif;
        color: white;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        }
    </style>
</head>
<body>
    <form>
        See you next time! Look forward to meet you again!<br>
    </form> 
</body>
</html>