<!doctype html>
<html>
<head>
    <style>
        html {
            background-image: url(https://img5.goodfon.com/original/1920x1080/5/80/linii-figury-tochki-treugolnik-abstraktsiia.jpg);
        }

        body {
            font-family: sans-serif;
        color: white;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        }
    </style>
</head>
<body>

<p>There once was a {{ c_color }} {{ c_noun }} sitting in the Hackbright Lab.
    <br>
    When {{ c_person }} went to pick it up, it burst into flames in a totally
    {{ c_adjective }} way.<p>

</body>
</html>


